@import '~theme/variables.scss';
@import '~theme/custom.scss';

.hasChild {
  padding: 0 !important;
  border-bottom: none !important;
}

.AgendaListItem {
  display: flex;
  align-items: center;

  aside.itemIndex, span {
    color: $text-color;
  }

  span {
    padding: 0 $space;
  }

  .fileName {
    display: inline-block;
    margin-left: $space;
    font-size: .8em;
    padding: 1px 10px;
    border: 1px solid $blue;
    border-radius: 4px;
    color: $blue;
  }

  &.main {
    font-weight: 500;
    background: $grey-light;
  }
}