@import '~theme/variables.scss';
@import '~theme/custom.scss';

.hasChild {
  padding: 0 !important;
  border-bottom: none !important;
}

.AgendaListItem {
  display: flex;

  aside.itemIndex, span {
    color: $text-color;
  }

  span {
    padding: 0 $space;
  }

  &.main {
    font-weight: 500;
    background: $grey-light;
  }
}