$white: #ffffff;
$grey: #fafafa;
$grey-dark: #C1C1C1;
$grey-darker: #AAAAAA;
$grey-light: lighten($grey, 10%);
$blue: #3399FF;
$space: 15px;

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}